.bookings-page,
.bookings-tab {
  text-align: center;
  margin: 1rem auto;
  align-items: center;

}

.bookings-tab button,
.bookings-tab button:focus {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  padding: 0.5rem 4rem;
  cursor: pointer;
}

.bookings-tab button:focus {
  outline: none;
}

.bookings-tab button.active {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #01d1d1;

}
